<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>OutfitRegular.ttf</string>
		<string>OutfitBold.ttf</string>
		<string>OutfitMedium.ttf</string>
		<string>New-Spirit-Light.otf</string>
		<string>New-Spirit-Medium.otf</string>
		<string>New-Spirit-Bold.otf</string>
		<string>New-Spirit.otf</string>
	</array>
</dict>
</plist>
